@import url(../../../stylesheets/application.css);

#header {
	background: #fff;
	min-height: 0px;
}

#header > h1 {
	background: url(../images/logo_d.png) no-repeat 10px 20%;
	padding: 5px 65px;
	font-weight: normal;t
	color: #333;
	font-size: 28px;
}

#header a, #header {
	color: #666;
}

body, #wrapper, h1, h2, h3, h4, p.percent, a, input, li, p, textarea {
	font-family: Arial, Tahoma, "Lucida Grande", verdana, helvetica, sans-serif;
	font-size: 10pt;
}

li {
	padding: 2px 0px ;
}

body, #wrapper { 
	background: #fff;
}

#main { background: transparent; margin: 15px 15px 0px 15px; }
#top-menu { background: transparent; padding: 7px 10px 4px 20px; font-size: 10pt;}
#top-menu a { font-weight: normal; margin-right: 15px; font-size: 10pt; color: #666;}
#top-menu a:hover { color: #111;}
#top-menu #loggedas {color:#666;}

div.flash {
	border: 0px solid;
}

div#content > div.flash:first-child {
}

div#content > div.flash {
	border: 0px solid;
	padding: 9px 35px 10px;
	background-position-x: 12px !important;
	background-position-y: 9px !important;
	position: relative;
}
div.flash.notice {
	border-color: #9fcf9f 
}

#errorExplanation, .nodata, .warning {
	border: none;
}

div.filters h2 .scope_title a {
	color: #444;
}

@media only screen {
	div#content {
		margin-right: 300px;
		width: auto;
	}
}


div#main.nosidebar div#content {
	margin-right: 0px;
}


#sidebar {
	width: 260px !important;
	padding: 0px 10px 20px 15px !important;
	background-color: transparent;
	border: none;
}
#sidebar a.selected, #sidebar a.selected:hover {
	color: #fff;
	background-color: #888; 
	border-radius: 0px;
	line-height: 1.2em;
}

#sidebar ul li {
	padding: 1px 0px;
}

div#content > h2, 
div#content h2.contacts_header, 
div#content > div.filters h2, 
div#content > #add-news > h2, 
div#content > #add-message > h2 , 
div#content > #add-document > h2 {
	background: #eee;
	padding: 12px 20px;
	margin: 0px 0px 10px;
	color: #444;
	font-weight: normal;
}

.controller-boards.action-index #add-message {
	position: static;
}

.controller-boards.action-index #add-message #message-form > p {
	position: relative;
	padding: 10px;
	background-color: white;
	margin: -10px;
	border-bottom: 1px solid #AECCD7;
}

/*.controller-documents.action-index div#content  h2, */
.controller-timelog.action-index div#content  h2,
.controller-time_entry_reports.action-report div#content  h2, 
.controller-boards.action-show div#content  h2, 
.controller-messages.action-show div#content  h2,
.controller-boards.action-show div#content div#add-message h2 {
	border: none;
	padding: 9px 20px 12px;
}

.controller-timelog.action-index div#content .contextual,
.controller-time_entry_reports.action-report div#content .contextual { 
	margin-top: 50px;
}

#add-news, #add-message, #add-document {
	margin-bottom: 20px;
}

div#content h2.contacts_header {
	padding-bottom: 10px;
/*	white-space: nowrap;*/
}

p.breadcrumb {
	margin: 4px 0 15px 0;
}

div#content > div.contextual {
	margin-top: 16px;
	margin-right: 10px;
}

#roadmap {margin: 10px;}

p.subtitle {
	margin: 0px 0 12px 0;
}

.contextual a, .contextual a:link, .contextual a:visited {color: #888;}

.contextual a:hover, .contextual a:visited:hover {color: #333;}

div.filters h2 .scope_title a { color: #222; text-decoration: none; } 

h2, .wiki h1 { color: #222; font-size: 22px;}
h3, .wiki h2 { color: #222; }
.wiki h1, .wiki h2 {font-weight: normal;}

div#content > div.wiki {
	padding: 10px;
	padding-top: 20px;
}

#main-menu {
	left: 0px;
	width: 100%;
	margin: 0px 15px;
	background: transparent;
}

#main-menu li a {
	display: block;
	float: left;
	padding: 6px 12px;
	color: #444;
	font-weight: normal !important;
	text-decoration: none;
}

#main-menu li a.selected, #main-menu li a.selected:hover {
	padding: 6px 12px;
	text-decoration: none;
	color: #F0F0F0;
	background: #444 !important;
}

#main-menu li a:hover {
	background-color:transparent;
	color: #000;
	text-decoration: none !important;
	background: #eee !important;
}

#header {
	padding-bottom: 30px;
	padding-top: 10px;
	padding-left: 10px;
}

div#welcome-store-content h1, 
div#welcome-store-content h2, 
div#welcome-store-content h3, 
div#welcome-store-content h4 {
	color: #222;
}


#content, #main.nosidebar #content { 
	background: transparent; 
	padding: 6px 0px 10px;
	border:none !important;
}


a, a:link, a:visited {
	color: #777;
}
a:hover, a:link:hover, a:visited:hover {
	color: #222;
	text-decoration: none;
}

div.issue {
	background: #eee !important;
	padding: 20px;
	margin-bottom: 6px;
	margin: 0px 0px 15px 0px;
	border: none;
}

div.issue.tooltip {
	padding: 6px;
	margin: 0 0 6px 0;
}

div.contact.details, div.deal.details {
	padding: 15px !important;
	margin: -11px -11px 6px;
}

#sidebar h3 {color: #444;}

#footer { text-align: left; background-color:#fff; border: 0px; }

/* Headers */
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {border-bottom: 0px;}
.wiki.wiki-page > h2 { border-bottom: 1px solid #CCC;	padding-bottom: 6px;}

/* Tables */

table.list tbody td, table.list tbody tr:hover td { border: solid 1px transparent; }
table.list thead th {
    border: 1px solid transparent;
}

/*Quick search*/
#quick-search {	
	margin-top: 8px;
}

/* Grid styles by priorities */
table.list td {padding: 5px; text-align: left;}
table.list input[type="checkbox"] {margin-top: 6px;}

table.list tbody tr:hover { background-color: #eee; }
table.list tr.issue a { color: #000; }
tr.odd { background-color: transparent;}
tr.even { background-color: transparent;}
table.list th { 
	background-color: #e5e5e5; 
	color: #333;
	font-weight: bold; 
	text-align: left; 
}

/*Immediately*/
tr.odd.priority-7, table.list tbody tr.odd.priority-7:hover { color: #000; font-weight: normal; }
tr.odd.priority-7 { background: #f99393; }
tr.odd.priority-7:hover, tr.even.priority-7:hover { background: #e88; }
tr.even.priority-7, table.list tbody tr.even.priority-7:hover { color: #000; font-weight: normal; }
tr.even.priority-7 { background: #f99; }
/* tr.priority-7 a, tr.priority-7:hover a { color: #000 !important; } */
tr.odd.priority-7 td, tr.even.priority-7 td { border-color: transparent; }

/*Immediately*/
tr.odd.priority-6, table.list tbody tr.odd.priority-6:hover { color: #000; font-weight: normal; }
tr.odd.priority-6 { background: #f9c671; }
tr.odd.priority-6:hover, tr.even.priority-6:hover { background: #eb6; }
tr.even.priority-6, table.list tbody tr.even.priority-6:hover { color: #000; font-weight: normal; }
tr.even.priority-6 { background: #fc7; }
/* tr.priority-6 a, tr.priority-6:hover a { color: #000 !important; } */
tr.odd.priority-6 td, tr.even.priority-6 td { border-color: transparent; }

/*High*/
tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #000; }
tr.odd.priority-5 { background: #f9e8b6; }
tr.odd.priority-5:hover, tr.even.priority-5:hover { background: #eda; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #000; }
tr.even.priority-5 { background: #feb; }
/* tr.priority-5 a { color: #000 !important; } */
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: transparent; }

/*Normal*/
tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #000; }
tr.odd.priority-4 { background: #f9f9f9; }
tr.odd.priority-4:hover, tr.even.priority-4:hover { background: #eee; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #000; }
tr.even.priority-4 { background: #fff }
/* tr.priority-4 a { color: #000 !important; } */
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: transparent; }

/*Low*/
tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #000; }
tr.odd.priority-3 { background: #d7f9c6; }
tr.odd.priority-3:hover, tr.even.priority-3:hover { background: #ceb; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #000; }
tr.even.priority-3 { background: #dfc; }
/* tr.priority-3 a { color: #000 !important; } */
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: transparent; }

/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] { 
	padding: 5px 20px;
	margin-top: 2px;
	margin-right: 8px;
	color: #222222; 
	border: 1px solid #aaa; 
	border-bottom-color: #666;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px #aaa;
	-moz-box-shadow: 0px 1px 5px #aaa;
	box-shadow: 0px 1px 5px #aaa;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover { 
	border-color: #777;
	border-bottom-color: #333;
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #d2d2d2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#d2d2d2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#d2d2d2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 0%,#d2d2d2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
}

/* Fields */
input[type="text"], input[type="password"], textarea, select { padding: 2px; border: 1px solid #aaa; }
input[type="text"], input[type="password"] { padding: 3px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid #888; }
option { border-bottom: 1px dotted #d7d7d7; }

/* Forum */

.controller-messages.action-show .message.reply {
	padding: 0px 10px;
	margin: -1px;
	background: white;
	border: 1px solid #D9D9D9;
}

.controller-messages.action-show .message {
	background: #EAF7FF;
	padding: 0px 15px 10px;
	border: 1px solid silver;
	margin: -11px -11px 15px -11px;
}

.controller-messages.action-show .message .contextual {
	margin-top: 10px;
}

.controller-boards p.breadcrumb {
	position: relative;
	background: white;
	border: 0px solid;
	padding: 9px 13px 10px;
	margin: -5px -10px 1px -10px;
	background-position-x: 12px !important;
	background-position-y: 9px !important;
	position: relative;
	border-bottom: 1px solid #AECCD7;
}

#add-news, #add-message, #add-document {
	background-color: white;
	position: relative;
	border-bottom: 1px solid #AECCD7;
	margin: -5px -10px 1px -10px;
	padding: 5px 10px 10px;
}

/* Misc */

#quick-search #q {
	outline: none;
	padding: 3px 20px 3px !important;
	background: #fff url("../images/search.png") no-repeat scroll 2px 50%;
}

.box { 
	background-color: #eee;
	padding: 16px;
	border: none !important;
}   

img.gravatar {
}

.wiki img {
	max-width: 100%;
}  

.wiki table img {
	width: 100%;
}  

div.wiki pre, .wiki pre {
	padding: 6px 10px;
	border: none;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	*/
}
.controller-wiki div#content > div.contextual {
	margin-top: 3px;
}

div#content > div.wiki {
	padding-top: 15px;
}

ul.projects.root {
	padding: 10px;
}

div.journal .details {
	border: none;
	background: transparent;
}

#footer {
	margin: 10px;
}

#context-menu, #context-menu ul li ul, span.tip {
	-webkit-box-shadow: 0px 3px 10px #777;
	-moz-box-shadow: 0px 3px 10px #777;
	box-shadow: 0px 3px 10px #777;
}

#context-menu li:hover { border:1px solid #eee !important; background-color:#eee; }

#context-menu ul {
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD !important;
	border-right: 1px solid #DDD !important;
}

div.tooltip:hover span.tip {
	border: none;
	color: #222;
	background: #eee;
	padding: 10px;
}

table.progress {
	border: none;
	font-size: 8px;
}

table.progress td.closed {
	background: #888 none repeat scroll 0%;
	padding: 0px;
}

table.progress td.todo {
	background: #fff none repeat scroll 0%;
	padding: 0px;
}

#history div.journal {
	border-top: 1px solid #bbb;
}

.task_todo { background: #bbb;}
.task_done { background: #7b7;}
.task_late { background: #b77;}


/************************************************************************************/



img.gravatar {
	margin-bottom: -.2em;
	margin-right: .5em;
}

/** Ergänzung **/
div.issue {
	background: transparent;
}




.icon-add { background-image: url(../images/add.png); }
.icon-edit { background-image: url(../images/edit.png); }
.icon-copy { background-image: url(../images/copy.png); }
.icon-duplicate { background-image: url(../images/duplicate.png); }
.icon-del { background-image: url(../images/delete.png); }
.icon-move { background-image: url(../images/move.png); }
.icon-save { background-image: url(../images/save.png); }
.icon-cancel { background-image: url(../images/cancel.png); }
.icon-multiple { background-image: url(../images/table_multiple.png); }
.icon-folder { background-image: url(../images/folder.png); }
.open .icon-folder { background-image: url(../images/folder_open.png); }
.icon-package { background-image: url(../images/package.png); }
.icon-user { background-image: url(../images/user.png); }
.icon-projects { background-image: url(../images/projects.png); }
.icon-help { background-image: url(../images/help.png); }
.icon-attachment  { background-image: url(../images/attachment.png); }
.icon-history  { background-image: url(../images/history.png); }
.icon-time  { background-image: url(../images/time.png); }
.icon-time-add  { background-image: url(../images/time_add.png); }
.icon-stats  { background-image: url(../images/stats.png); }
.icon-warning  { background-image: url(../images/warning.png); }
.icon-fav  { background-image: url(../images/fav.png); }
.icon-fav-off  { background-image: url(../images/fav_off.png); }
.icon-reload  { background-image: url(../images/reload.png); }
.icon-lock  { background-image: url(../images/locked.png); }
.icon-unlock  { background-image: url(../images/unlock.png); }
.icon-checked  { background-image: url(../images/true.png); }
.icon-details  { background-image: url(../images/zoom_in.png); }
.icon-report  { background-image: url(../images/report.png); }
.icon-comment  { background-image: url(../images/comment.png); }
.icon-summary  { background-image: url(../images/lightning.png); }
.icon-server-authentication { background-image: url(../images/server_key.png); }
.icon-issue { background-image: url(../images/ticket.png); }
.icon-zoom-in { background-image: url(../images/zoom_in.png); }
.icon-zoom-out { background-image: url(../images/zoom_out.png); }
.icon-passwd { background-image: url(../images/textfield_key.png); }

.icon-file { background-image: url(../images/files/default.png); }
.icon-file.text-plain { background-image: url(../images/files/text.png); }
.icon-file.text-x-c { background-image: url(../images/files/c.png); }
.icon-file.text-x-csharp { background-image: url(../images/files/csharp.png); }
.icon-file.text-x-php { background-image: url(../images/files/php.png); }
.icon-file.text-x-ruby { background-image: url(../images/files/ruby.png); }
.icon-file.text-xml { background-image: url(../images/files/xml.png); }
.icon-file.image-gif { background-image: url(../images/files/image.png); }
.icon-file.image-jpeg { background-image: url(../images/files/image.png); }
.icon-file.image-png { background-image: url(../images/files/image.png); }
.icon-file.image-tiff { background-image: url(../images/files/image.png); }
.icon-file.application-pdf { background-image: url(../images/files/pdf.png); }
.icon-file.application-zip { background-image: url(../images/files/zip.png); }
.icon-file.application-x-gzip { background-image: url(../images/files/zip.png); }

h3.version { background: url(../images/package.png) no-repeat 0% 50%; padding-left: 20px; }

div.issues h3 { background: url(../images/ticket.png) no-repeat 0% 50%; padding-left: 20px; }
div.members h3 { background: url(../images/group.png) no-repeat 0% 50%; padding-left: 20px; }
div.news h3 { background: url(../images/news.png) no-repeat 0% 50%; padding-left: 20px; }
div.projects h3 { background: url(../images/projects.png) no-repeat 0% 50%; padding-left: 20px; }

a.atom { background: url(../images/feed.png) no-repeat 0px 0px; padding: 2px 0px 3px 18px; }

table.cal .starting a, p.cal.legend .starting {background: url(../images/bullet_go.png) no-repeat -1px -2px; padding-left:16px;}
table.cal .ending a, p.cal.legend .ending {background: url(../images/bullet_end.png) no-repeat -1px -2px; padding-left:16px;}
table.cal .starting.ending a, p.cal.legend .starting.ending {background: url(../images/bullet_diamond.png) no-repeat -1px -2px; padding-left:16px;}

a.icon {
	padding-right: 10px;
}

dt.issue { background-image: url(../images/ticket.png); }
dt.issue-edit { background-image: url(../images/ticket_edit.png); }
dt.issue-closed { background-image: url(../images/ticket_checked.png); }
dt.issue-note { background-image: url(../images/ticket_note.png); }
dt.changeset { background-image: url(../images/changeset.png); }
dt.news { background-image: url(../images/news.png); }
dt.message { background-image: url(../images/message.png); }
dt.reply { background-image: url(../images/comments.png); }
dt.wiki-page { background-image: url(../images/wiki_edit.png); }
dt.attachment { background-image: url(../images/attachment.png); }
dt.document { background-image: url(../images/document.png); }
dt.project { background-image: url(../images/projects.png); }
dt.time-entry { background-image: url(../images/time.png); }

#search-results dt.issue.closed { background-image: url(../images/ticket_checked.png); }


#admin-menu a.projects { background-image: url(../images/projects.png); }
#admin-menu a.users { background-image: url(../images/user.png); }
#admin-menu a.groups { background-image: url(../images/group.png); }
#admin-menu a.roles { background-image: url(../images/database_key.png); }
#admin-menu a.trackers { background-image: url(../images/ticket.png); }
#admin-menu a.issue_statuses { background-image: url(../images/ticket_edit.png); }
#admin-menu a.workflows { background-image: url(../images/ticket_go.png); }
#admin-menu a.custom_fields { background-image: url(../images/textfield.png); }
#admin-menu a.enumerations { background-image: url(../images/text_list_bullets.png); }
#admin-menu a.settings { background-image: url(../images/changeset.png); }
#admin-menu a.plugins { background-image: url(../images/plugin.png); }
#admin-menu a.info { background-image: url(../images/help.png); }
#admin-menu a.server_authentication { background-image: url(../images/server_key.png); }

.my-project { padding-left: 18px; background: url(../images/fav.png) no-repeat 0 50%; }

img[alt="Link_break"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/link_break.png);} 
img[alt="Comment"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/comment.png);} 
img[alt="Edit"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/edit.png);} 
img[alt="Toggle_check"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/toggle_check.png);} 
img[alt="Delete"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/delete.png);} 
img[alt="Calendar"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/calendar.png);} 
img[alt="Add"] {	width: 0px; height: 16px; padding-right: 16px; background: url(../images/add.png);} 

img[width="50"] { width:80px !important; }
img[height="50"] { height:80px !important; }

.jstElements .help a {padding: 2px 0 2px 20px; background: url(../images/help.png) no-repeat 0 50% !important;}

table.members td.group { padding-left: 20px; background: url(../images/group.png) no-repeat 0% 50%; }

img.gravatar {
  padding: 5px !important;
  border: solid 1px #ccc;
  background: #fff;
}

img.gravatar[width="14"],
img.gravatar[width="16"] {
  width: 16px !important;
  height: 16px !important;
  padding: 1px !important;
}

img.gravatar[width="24"] {
  padding: 1px !important;
}

fieldset.collapsible {
	background: #f1f1f1;
	border: none;
}

fieldset.collapsed {
	background: transparent;
	border: none;
}


.gantt_subjects div {
	height: 20px !important;
}
.gantt_subjects {
	font-size: 0.9em !important;
}

.redmine-authorchange-button {
	background-image: url(../images/user.png) !important;
}


body.stealth_on #top-menu 
{
	background: transparent !important; 
} 
body.stealth_on #header 
{
	background: transparent !important; 
}
body.stealth_on {
	-webkit-filter: invert(90%) !important;
}
html {
	background: #fff;
}

.tabular label {
	font-weight: normal;
}
#content .tabs ul li a {
	color: #555;
	font-weight: normal;
	background-color: #eee;
	border-radius: 0px;
}
#content .tabs ul li a:hover {
	background-color: #ddd;
}
#content .tabs ul li a.selected {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
#content .tabs ul li a.selected:hover {
	background-color: #fff;
}
#content .tabs ul li {
	background-color: transparent;
	padding: 0px 0px !important;
}

div.tracker-1 {background-color: #F0DDDD !important; } /* Fehler */
div.tracker-2 {background-color: #E8FFD5 !important; } /* Optimierung */
div.tracker-3 {background-color: #DDE8F0 !important; } /* Anforderung */
div.tracker-8 {background-color: #F2E9D5 !important; } /* Information */


form {
	margin: 0px; padding: 0px;
}

table.list tbody tr.group td {
	border-color: transparent;
}

table.list tbody tr.group span.count {
	background: #888;
	border-radius: 0px;
}

legend {
	color: #777;
}

p#reminder_notification em label {
	font-size:8pt;
	line-height: 9pt;
	padding: 15px 0px;
}

div.thumbnails div {
	border: none !important;
}

.wiki h3 {
	font-weight: normal;
	font-size: 1.2em;
	padding: 25px 0px 2px;
}
.wiki h2 {
	padding: 25px 0px 2px;
}

.list .even {
	background-color: #f5f5f5;
}
/************************************************************************************/




/*******************/
/* 		jQuery UI			
/*******************/
.ui-widget {
	font-family: inherit;
	font-size: inherit;
}
.ui-widget-header {
    border: none;
    background: rgb(117, 159, 207);
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.ui-widget-content {
	background: white;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #fcfcfc;
	font-weight: normal;
	color: inherit;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #628db6;
	color: #fff;
}


.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
	font-size: 12px;
	padding: 2px 10px 1px 0px;
	margin: 0 0 10px 0;
	color: #444;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: inherit;
	font-size: inherit;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

input.autocomplete {
    background: url("../images/search.png") no-repeat scroll 2px 50% rgb(255, 255, 255);
    padding-left: 20px;
    height: auto;
}

/************************************************************************************/


.context-menu-selection { background-color:#507AAA !important; color:#f8f8f8 !important; }
.context-menu-selection a, .context-menu-selection a:hover { color:#f8f8f8 !important; }
.context-menu-selection:hover { background-color:#507AAA !important; color:#f8f8f8  !important; }



/* **********************************************************************************
	Responsive Design
*/
@media only screen and (max-width: 898px) {
/*	#loggedas, #account, #top-menu li { float: none !important; }
	#top-menu { height: auto; }
	#loggedas { margin-bottom: 10px; }
	#main-menu { position: relative; }
	#header h1 { background: none; padding: 0px 10px;} */
}

@media screen and (min-device-width: 480px) {
}
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 1801px) {
}

@media only screen and (min-width: 768px) {
}

@media screen and (max-device-width: 480px) {
}

@media screen and (max-device-width: 600px) {
}

/* Time Tracker Plugin */
.icon-start, .icon-stop {
	background-image: url(../images/clock.png) !important;
}
.toc  {
	border: 1px solid #bbb !important;
	background-color: #ddd !important;
	padding: 14px !important;
}
.toc, .toc li {
	color: #222 !important;
	font-size: 100% !important;
}
.toc a, .toc li a {
	color: #222 !important;
}

/* STYLISH */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot);
}

* {
    font-family: Roboto, Arial, Sans-Serif !important;
}
code *, pre * {
    font-family: Roboto Mono, Consolas, Mono !important;
    font-size: 11pt;
}
body, #wrapper, h1, h2, h3, h4, div, p, p.percent, a, input, li, p, textarea, select {
    font-size:11pt; 
}
body.stealth_on {
    background: #e6e6e6;
    -webkit-filter: invert(10%) !important;
}
body #header {
    padding-top: 70px;
}
body #top-menu {
    border-top: 2px solid #ddd;
    padding-top: 10px !important;
    border-bottom: 1px solid #eee;
    background: #eee !important;
	position: fixed;
    box-shadow: 0px 3px 10px rgba(0,0,0,.2);
    width: 99%;
    z-index: 1000;
}    
body #top-menu,
body #top-menu a {
    font-size: 11pt !important;
}
body.stealth_on #top-menu {
    border-top-color: #c00;
    border-bottom-color: #ddd;
    background: #ddd !important;
}
.controller-news h3 {
    font-size: 1.1em;
    background: #f5f5f5;
    padding: 10px 20px;
}
.next-prev-links {
	padding: 5px;
}
#main-menu
{
    position: relative;
}
a:hover {
    text-decoration: underline !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus
{
    outline: none !important;
    border-color: #698BC2 !important;
    box-shadow: 0 0 10px #9EC0F7 !important;
    background-color: #fcfeff !important;
}
.contextual {
    margin-top: 12px !important;
}
div.wiki ul.toc a {
    font-size: 1em;
}
