@import url(../../../stylesheets/context_menu.css);


/************************************************************************************/


.context-menu-selection { background-color:#164651 !important; color:#f8f8f8 !important; }
.context-menu-selection a, .context-menu-selection a:hover { color:#f8f8f8 !important; }
.context-menu-selection:hover { background-color:#265661 !important; color:#f8f8f8  !important; }

